<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/carts.css}">
</head>
<body>
<div class="wrap">
    <!--引入头部-->
    <div th:replace="~{index::header_desc}"></div>
    <div th:replace="~{index::header_top}"></div>
    <div th:replace="~{index::header_bottom}"></div>

    <div th:if="${session.cars == null}">
        <h2>购物车无任何商品</h2>
    </div>
    <section class="cartMain" th:if="${session.cars != null}">
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <li class="list_chk">
                    <!--所有商品全选-->
                    <input type="checkbox" id="all" class="whole_check">
                    <label for="all"></label>
                    全选
                </li>
                <li class="list_con">商品名称</li>
                <li class="list_info">商品描述</li>
                <li class="list_price">单价</li>
                <li class="list_amount">数量</li>
                <li class="list_sum">金额</li>
                <li class="list_op">操作</li>
            </ul>
        </div>

        <div class="cartBox">
            <div class="order_content">
                <ul class="order_lists" th:each="product:${session.cars.keySet()}">
                    <li class="list_chk">
                        <input type="hidden" th:value="${product.pid}" class="pid">
                        <input type="hidden" th:value="${session.user.uid}" class="uid">
                        <input type="checkbox" th:id="'checkbox_'+${product.pid}" class="son_check">
                        <label th:for="'checkbox_'+${product.pid}"></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img th:src="@{/path/}+${product.pimage}" alt=""
                                                                          width="70px" height="90px"></a></div>
                        <div class="list_text" style="text-align: center"><a
                                href="javascript:;">[[${product.pname}]]</a></div>
                    </li>
                    <li class="list_info">
                        [[${product.pdesc}]]
                    </li>
                    <li class="list_price">
                        <p class="price">$[[${product.Shop_price}]]</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty">-</a>
                            <input type="text" th:value="${session.cars.get(product)}" class="sum">
                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">$[[${product.Shop_price * session.cars.get(product)}]]</p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <!--底部-->
        <div class="bar-wrapper">
            <div class="bar-right">
                <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                <div class="calBtn"><a>结算</a></div>
            </div>
        </div>
    </section>
    <section class="model_bg"></section>
    <section class="my_model">
        <p class="title">删除宝贝<span class="closeModel">X</span></p>
        <p>您确认要删除该宝贝吗？</p>
        <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a>
        </div>
    </section>
</div>
<div th:replace="~{index::footer}"></div>
<script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/js/carts.js}"></script>
<script th:src="@{/js/car.js}"></script>
</body>
</html>